.ranking,
.menu {
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
    flex: 1;
    padding: 50px;
    background-color: #fff;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.medal_image {
    width: 5rem;
    height: 5rem;
    margin-right: 10px;
    vertical-align: middle;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: row;
}

#tree {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.tree-container {
    position: relative;
    width: 750px; /* 나무 이미지 크기 (조정 가능) */
    height: auto;
}

#tree {
    width: 100%;
    height: auto;
    display: block;
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%); /* 좌표를 기준으로 중심 정렬 */
    width: 55px; /* 스탬프 크기 */
    height: 55px;
    text-align: center;
}

.day_number {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    position: absolute;
}

.stamp {
    width: 100%;
    height: 100%;
}