#sidebar {
    width: 15rem;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px solid black;
}

#search_form {
    margin-bottom: 40px;
}

#search_input {
    border: none;
    width: 12rem;
    height: 2rem;
    border-radius: 30px;
    padding: 20px;
}

#sidebar_menu{
    padding-left: 20px;
}

#ul_menu{
    margin-bottom: 30px;
}

li {
    list-style-type: none;
}

.sidebar_li{
    display: flex;
    align-items: center;
    height: 60px;
    cursor: pointer;
    font-weight: 600;
}

.sidebar_li.active {
    background-color: orange; /* 주황색 배경 */
}

#content {
    display: flex;
    padding: 1.25rem;
}