:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  --rpx: 100vw / 1280;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: calc(1280 * var(--rpx));
  height: calc(832 * var(--rpx));
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.sign-up-form {
  position: absolute;
  width: calc(741.6121826171875 * var(--rpx));
  height: calc(834.313720703125 * var(--rpx));
  top: 0;
  left: calc(589.19384765625 * var(--rpx));
  background: #ffffff;
  z-index: 3;
}
.flex-row-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: calc(568.1614990234375 * var(--rpx));
  height: calc(20.544921875 * var(--rpx));
  margin: calc(33.99072265625 * var(--rpx)) 0 0
    calc(94.24658203125 * var(--rpx));
  z-index: 45;
}
.button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(6.952614784240723 * var(--rpx));
  position: relative;
  width: calc(56.492919921875 * var(--rpx));
  z-index: 45;
}
.arrow-circle-left {
  flex-shrink: 0;
  position: relative;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  z-index: 46;
}
.arrow-circle-left-1 {
  position: absolute;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 47;
}
.arrow-circle-left-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/0ec22f65-5fca-49d3-ab11-39d4643d1dea.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.back {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(19 * var(--rpx));
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(12.360204696655273 * var(--rpx));
  font-weight: 500;
  line-height: calc(18.540306091308594 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.have-account {
  flex-shrink: 0;
  position: relative;
  width: calc(168 * var(--rpx));
  height: calc(19 * var(--rpx));
  font-family: Poppins, var(--default-font-family);
  font-size: calc(12.360204696655273 * var(--rpx));
  font-weight: 500;
  line-height: calc(18.540306091308594 * var(--rpx));
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 29;
}
.have-account-3 {
  position: relative;
  color: #94959a;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(12.360204696655273 * var(--rpx));
  font-weight: 500;
  line-height: calc(18.540306091308594 * var(--rpx));
  text-align: left;
}
.sign-up-4 {
  position: relative;
  color: #543bf1;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(12.360204696655273 * var(--rpx));
  font-weight: 700;
  line-height: calc(18.540306091308594 * var(--rpx));
  text-align: left;
}
.sign-up-5 {
  display: block;
  position: relative;
  height: calc(16 * var(--rpx));
  margin: calc(92.46435546875 * var(--rpx)) 0 0
    calc(93.80615234375 * var(--rpx));
  color: #1c0e0d;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(24.719999313354492 * var(--rpx));
  font-weight: 700;
  line-height: calc(15.885441780090332 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}
.flex-row-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: calc(553.1189880371094 * var(--rpx));
  height: calc(74.02864837646484 * var(--rpx));
  margin: calc(27 * var(--rpx)) 0 0 calc(94.24658203125 * var(--rpx));
  z-index: 30;
}
.email {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(18.540306091308594 * var(--rpx));
  position: relative;
  width: calc(267.2893981933594 * var(--rpx));
  z-index: 4;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(9.270153045654297 * var(--rpx));
  position: relative;
  width: calc(267.2893981933594 * var(--rpx));
  z-index: 5;
}
.email-address {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(21 * var(--rpx));
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(13.905229568481445 * var(--rpx));
  font-weight: 700;
  line-height: calc(20.857845306396484 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.input-field {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(7.725127696990967 * var(--rpx));
  position: relative;
  width: calc(267.2893981933594 * var(--rpx));
  padding: calc(12.360204696655273 * var(--rpx))
    calc(18.540306091308594 * var(--rpx)) calc(12.360204696655273 * var(--rpx))
    calc(18.540306091308594 * var(--rpx));
  background: #ffffff;
  border: calc(0.7725127935409546 * var(--rpx)) solid #eaeaf6;
  z-index: 7;
  overflow: hidden;
  border-radius: calc(38.625640869140625 * var(--rpx));
}
.input {
  flex-shrink: 0;
  position: absolute;
  width: calc(267.2893981933594 * var(--rpx));
  height: calc(43.72040939331055 * var(--rpx));
  top: calc(-0.7725127935409546 * var(--rpx));
  left: calc(-0.7725127935409546 * var(--rpx));
  background: transparent;
  border: none;
  z-index: 12;
  outline: none;
}
.vuesax-bold-user {
  flex-shrink: 0;
  position: relative;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  z-index: 8;
}
.vuesax-bold-user-6 {
  position: absolute;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 9;
}
.user {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/f82273f4-e013-47c4-8d9f-9c3345b60251.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 10;
}
.type-here {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(19 * var(--rpx));
  color: #bfc3d0;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(12.360204696655273 * var(--rpx));
  font-weight: 500;
  line-height: calc(18.540306091308594 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(9.270153045654297 * var(--rpx));
  position: relative;
  width: calc(267.2893981933594 * var(--rpx));
  z-index: 30;
}
.password-7 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(21 * var(--rpx));
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(13.905229568481445 * var(--rpx));
  font-weight: 700;
  line-height: calc(20.857845306396484 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.input-field-8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: calc(267.2893981933594 * var(--rpx));
  padding: calc(12.360204696655273 * var(--rpx))
    calc(18.540306091308594 * var(--rpx)) calc(12.360204696655273 * var(--rpx))
    calc(18.540306091308594 * var(--rpx));
  background: #ffffff;
  border: calc(0.7725127935409546 * var(--rpx)) solid #eaeaf6;
  z-index: 32;
  overflow: hidden;
  border-radius: calc(38.625640869140625 * var(--rpx));
}
.input-9 {
  flex-shrink: 0;
  position: absolute;
  width: calc(267.2893981933594 * var(--rpx));
  height: calc(43.26071548461914 * var(--rpx));
  top: calc(-0.7725127935409546 * var(--rpx));
  left: calc(-0.7725127935409546 * var(--rpx));
  background: transparent;
  border: none;
  z-index: 39;
  outline: none;
}
.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(7.725127696990967 * var(--rpx));
  position: relative;
  width: calc(160.2654266357422 * var(--rpx));
  z-index: 33;
}
.vuesax-bold-lock {
  flex-shrink: 0;
  position: relative;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  z-index: 34;
}
.vuesax-bold-lock-a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/d23cdc3b-a2df-40d0-bbfb-d81e9cb347f1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 35;
}
.password-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: calc(134 * var(--rpx));
  height: calc(6 * var(--rpx));
  color: #bfc3d0;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(12.360204696655273 * var(--rpx));
  font-weight: 500;
  line-height: calc(6 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.vuesax-bold-eye-slash {
  flex-shrink: 0;
  position: relative;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  z-index: 37;
}
.vuesax-bold-eye-slash-c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/ec22baf4-cb0a-4c91-af3d-11966bac5e18.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 38;
}
.flex-row {
  position: relative;
  width: calc(553.9999694824219 * var(--rpx));
  height: calc(78.23609924316406 * var(--rpx));
  margin: calc(32.971351623535156 * var(--rpx)) 0 0
    calc(93.80615234375 * var(--rpx));
  z-index: 52;
}
.nickname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: calc(9.270153045654297 * var(--rpx));
  position: absolute;
  width: calc(267.2893981933594 * var(--rpx));
  height: calc(73.53086853027344 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 15;
}
.nickname-d {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(21 * var(--rpx));
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(13.905229568481445 * var(--rpx));
  font-weight: 700;
  line-height: calc(20.857845306396484 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.input-field-e {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(7.725127696990967 * var(--rpx));
  position: relative;
  width: calc(267.2893981933594 * var(--rpx));
  padding: calc(12.360204696655273 * var(--rpx))
    calc(18.540306091308594 * var(--rpx)) calc(12.360204696655273 * var(--rpx))
    calc(18.540306091308594 * var(--rpx));
  background: #ffffff;
  border: calc(0.7725127935409546 * var(--rpx)) solid #eaeaf6;
  z-index: 17;
  border-radius: calc(38.625640869140625 * var(--rpx));
}
.vuesax-bold-user-f {
  flex-shrink: 0;
  position: relative;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  z-index: 18;
}
.vuesax-bold-user-10 {
  position: absolute;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 19;
}
.user-11 {
  position: absolute;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 20;
}
.vector {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/5f8eab1a-9c37-459b-9c6c-962d4afbb986.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: calc(9.270153045654297 * var(--rpx));
  position: absolute;
  width: calc(34 * var(--rpx));
  height: calc(21 * var(--rpx));
  top: 0;
  left: calc(286 * var(--rpx));
  z-index: 13;
}
.field-12 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(21 * var(--rpx));
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(13.905229568481445 * var(--rpx));
  font-weight: 700;
  line-height: calc(20.857845306396484 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.form {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: calc(6.344014644622803 * var(--rpx));
  position: absolute;
  width: calc(274.3786315917969 * var(--rpx));
  height: calc(41.23609924316406 * var(--rpx));
  top: calc(37 * var(--rpx));
  left: calc(279.621337890625 * var(--rpx));
  padding: 0 calc(9.516020774841309 * var(--rpx)) 0
    calc(9.516020774841309 * var(--rpx));
  background: #ffffff;
  border: calc(1.5860036611557007 * var(--rpx)) solid #7949ff;
  z-index: 52;
  border-radius: calc(6.344014644622803 * var(--rpx));
}
.text-wrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: calc(7.930017948150635 * var(--rpx));
  position: relative;
  min-width: 0;
  z-index: 53;
  overflow: hidden;
}
.selected-option {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(15 * var(--rpx));
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: calc(12.688029289245605 * var(--rpx));
  font-weight: 400;
  line-height: calc(15 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.keyboard-arrow-up {
  flex-shrink: 0;
  position: relative;
  width: calc(19.032045364379883 * var(--rpx));
  height: calc(19.032045364379883 * var(--rpx));
  background: url(../assets/images/2f93724d-73b9-440d-9e53-b22ceb61b54e.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
  overflow: hidden;
}
.flex-row-d {
  position: relative;
  width: calc(553.9999694824219 * var(--rpx));
  height: calc(164.9443817138672 * var(--rpx));
  margin: calc(3.1721038818359375 * var(--rpx)) 0 0
    calc(93.80615234375 * var(--rpx));
  z-index: 56;
}
.dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  height: calc(164.9443817138672 * var(--rpx));
  top: 0;
  right: 0;
  left: calc(279.621337890625 * var(--rpx));
  z-index: 56;
  overflow: hidden;
  border-radius: calc(6.344014644622803 * var(--rpx));
}
.dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: calc(41.2360954284668 * var(--rpx));
  padding: 0 calc(9.516021728515625 * var(--rpx)) 0
    calc(9.516021728515625 * var(--rpx));
  background: #ffffff;
  z-index: 57;
}
.text-wrap-13 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(7.930018424987793 * var(--rpx));
  position: relative;
  z-index: 58;
  overflow: hidden;
}
.option-front-end-development {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(15 * var(--rpx));
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: calc(12.688029289245605 * var(--rpx));
  font-weight: 400;
  line-height: calc(15 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 59;
}
.dropdown-item-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: calc(41.2360954284668 * var(--rpx));
  padding: 0 calc(9.516021728515625 * var(--rpx)) 0
    calc(9.516021728515625 * var(--rpx));
  background: #ffffff;
  z-index: 60;
}
.text-wrap-15 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(7.930018424987793 * var(--rpx));
  position: relative;
  z-index: 61;
  overflow: hidden;
}
.option-back-end-development {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(15 * var(--rpx));
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: calc(12.688029289245605 * var(--rpx));
  font-weight: 400;
  line-height: calc(15 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.dropdown-item-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: calc(41.2360954284668 * var(--rpx));
  padding: 0 calc(9.516021728515625 * var(--rpx)) 0
    calc(9.516021728515625 * var(--rpx));
  background: #ffffff;
  z-index: 63;
}
.text-wrap-17 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(7.930018424987793 * var(--rpx));
  position: relative;
  z-index: 64;
  overflow: hidden;
}
.option-security-engineering {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(15 * var(--rpx));
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: calc(12.688029289245605 * var(--rpx));
  font-weight: 400;
  line-height: calc(15 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 65;
}
.dropdown-item-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: calc(41.2360954284668 * var(--rpx));
  padding: 0 calc(9.516021728515625 * var(--rpx)) 0
    calc(9.516021728515625 * var(--rpx));
  background: #ffffff;
  z-index: 66;
}
.text-wrap-19 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(7.930018424987793 * var(--rpx));
  position: relative;
  z-index: 67;
  overflow: hidden;
}
.option-machine-learning {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(15 * var(--rpx));
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: calc(12.688029289245605 * var(--rpx));
  font-weight: 400;
  line-height: calc(15 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}
.technology-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: calc(9.270153045654297 * var(--rpx));
  position: absolute;
  width: calc(267.2893981933594 * var(--rpx));
  height: calc(73.53086853027344 * var(--rpx));
  top: calc(27.591796875 * var(--rpx));
  left: 0;
  z-index: 22;
}
.tech-stack {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(21 * var(--rpx));
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(13.905229568481445 * var(--rpx));
  font-weight: 700;
  line-height: calc(20.857845306396484 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.input-field-1a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: calc(7.725127696990967 * var(--rpx));
  position: relative;
  width: calc(267.2893981933594 * var(--rpx));
  padding: calc(12.360204696655273 * var(--rpx))
    calc(18.540306091308594 * var(--rpx)) calc(12.360204696655273 * var(--rpx))
    calc(18.540306091308594 * var(--rpx));
  background: #ffffff;
  border: calc(0.7725127935409546 * var(--rpx)) solid #eaeaf6;
  z-index: 24;
  border-radius: calc(38.625640869140625 * var(--rpx));
}
.vuesax-bold-user-1b {
  flex-shrink: 0;
  position: relative;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  z-index: 25;
}
.vuesax-bold-user-1c {
  position: absolute;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 26;
}
.user-1d {
  position: absolute;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 27;
}
.vector-1e {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/6d077f1e-6582-4071-9c83-3897d779043d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 28;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: calc(7.725127696990967 * var(--rpx));
  position: relative;
  width: calc(267.2893981933594 * var(--rpx));
  margin: calc(106.64741516113281 * var(--rpx)) 0 0
    calc(94.24658203125 * var(--rpx));
  padding: calc(12.360204696655273 * var(--rpx))
    calc(7.725127696990967 * var(--rpx)) calc(12.360204696655273 * var(--rpx))
    calc(7.725127696990967 * var(--rpx));
  cursor: pointer;
  background: linear-gradient(90deg, #f6eaff, #ff9393);
  border: none;
  z-index: 40;
  border-radius: calc(38.625640869140625 * var(--rpx));
  box-shadow: 0 calc(11.587691307067871 * var(--rpx))
    calc(38.625640869140625 * var(--rpx)) 0 rgba(222, 94, 142, 0.12);
}
.sign-in {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: calc(19 * var(--rpx));
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(12.360204696655273 * var(--rpx));
  font-weight: 600;
  line-height: calc(18.540306091308594 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.vuesax-outline-arrow {
  flex-shrink: 0;
  position: relative;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  z-index: 42;
}
.vuesax-outline-arrow-1f {
  position: absolute;
  width: calc(18.540306091308594 * var(--rpx));
  height: calc(18.540306091308594 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 43;
}
.arrow-right {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/4cdaeaa1-3e1f-4b04-be4f-71a1cca2fcb2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 44;
}
.welcome-back {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(56 * var(--rpx));
  top: calc(87.33349609375 * var(--rpx));
  left: calc(54 * var(--rpx));
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: calc(37.333335876464844 * var(--rpx));
  font-weight: 700;
  line-height: calc(56 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.login {
  position: absolute;
  width: calc(454 * var(--rpx));
  height: calc(454 * var(--rpx));
  top: calc(133.33349609375 * var(--rpx));
  left: calc(65.33331298828125 * var(--rpx));
  background: url(../assets/images/db9e5204baddde6ac60cef3494a2d9433b5f2293.png)
    no-repeat center;
  background-size: contain;
  z-index: 2;
}
